<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="tab0">
          <ion-icon name="home" size="medium"></ion-icon>
          <ion-label size="medium">Início</ion-label>
        </ion-tab-button>
    <ion-tab-button tab="tab1">
      <ion-icon name="paper" size="medium"></ion-icon>
      <ion-label size="medium">Notícias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="basketball" size="medium"></ion-icon>
      <ion-label size="medium">Jogos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="list-box" size="medium"></ion-icon>
      <ion-label size="medium">Tabela</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
        <ion-icon name="menu" size="medium"></ion-icon>
        <ion-label size="medium">Mais</ion-label>
      </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>
